{% extends "base.html" %} {% block header %}
<div class="dropdown">
    <button class="dropbtn button-txt">Menu</button>
    <div class="dropdown-content">
        <a href="/blog" style="text-decoration:none">Recent Blogs</a>
        <a href="/blog/newpost" style="text-decoration:none">Create post</a>
        <a href="/blogall" style="text-decoration:none">lost In Blogs</a>
        <a href="/logout" style="text-decoration:none">Logout</a>
    </div>
</div>
{% endblock %} {% block content %} {% block body %} {% endblock %} {% endblock %}
