<!DOCTYPE html>

<html>

    <head>
        <title>Full-stack</title>

        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/blogstyle.css" type="text/css" />

    </head>

    <body>
        <div class="container center">
            <header>
                <div class="row heady title-header main-text">
                    <div class="col-md-6">
                        <div>
                            <h1 class="font-giant"><a href="/" style="text-decoration:none">&beta;</a><h1>
                        </div>
                    </div>
                    <div class="col-md-6 text-right text-uppercase">
                        <div>
                            <h1 class="title-super text-thin">Brindal's website</h1>
                        </div>
                        <div>
                            {% block header %} {% endblock %}
                        </div>
                    </div>
                </div>
            </header>

            {% block content %} {% endblock %}
        </div>
    </body>

</html>
</div>
</body>

</html>
