{% extends "base2.html" %} {% block body %}
<div class="text-center">
    <h3><b>Welcome to the world of blog</b></h3>
</div>


<div class="container center">
    <div class="blog-container verticalLine">{% for obj in list %}
        <div class="row">
            <div class="col-md-7">
                <h3>
                    <a href="{% url 'posts:show_post' id=obj.id %}">{{ obj.title }}</a>
                </h3>
            </div>
        </div>
        <p>{{ obj.content }}</p>
        <hr>{% endfor %}
    </div>
</div> {% endblock %}
