{% extends "base2.html" %} {% block body %}
<div class="container center">
    <div class="blog-container">
        {% if del_task %}
        <div id="dialog" title="Confirmation Required">
            Are you sure about this?
        </div>
        <script type="text/javascript">
          $(document).ready(function() {
            $("#dialog").dialog({
              autoOpen: false,
              modal: true
            });
          });

          $(".confirmLink").click(function(e) {
            e.preventDefault();
            var targetUrl = $(this).attr("href");

            $("#dialog").dialog({
              buttons : {
                "Confirm" : function() {
                  window.location.href = targetUrl;
                },
                "Cancel" : function() {
                  $(this).dialog("close");
                }
              }
            });

            $("#dialog").dialog("open");
          });
        </script>
        {% else %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <h1>{{ post.title }} <a href="{% url 'posts:edit_delete' id=post.id %}" class="pull-right"><button class="edit-button button-txt">X</button></a><a href="{% url 'posts:edit_post' id=post.id %}" class="pull-right"><button class="edit-button button-txt">&#9998;</button></a></h1>
        <hr>
        {% if post.image %}
        <img src="{{ post.image.url }}" class="img-responsive" />
        <hr>
        {% endif %}
        <br>

        <div class="grey-text">
            <p>
                <!-- (added on {{ post.posttime }}) -->
                (updated {{ post.postupdate|timesince }} ago)
            </p>
        </div>
        <p>{{ post.content|linebreaks }}</p>
        <hr>
        <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
        <hr>
        <div class="fb-comments col-sm-offset-1" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
        {% endif %}
    </div>
</div>
{% endblock %}
